@font-face {
    font-family: 'Edge Racer Italic';
    src: url('src/fonts/edgeracerital.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'auto-techno';
    src: url('src/fonts/auto-techno.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'd3-digitalism';
    src: url('src/fonts/D3Digitalism.ttf');
    font-weight: lighter;
    font-style: normal;
}

body {
    background: url('https://orig05.deviantart.net/dc13/f/2016/098/e/d/rolly_rocket_by_valenberg-d9y6rvp.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

h2 {
    font-weight: lighter;
    color: #cc00ff;
    font-family: 'Edge Racer Italic';
    font-size: 57px;
    text-shadow: 3px 3px 0px #ffffff, 6px 6px 0px #f80000;
}

h1 {
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250), 0px 0px 10px rgb(200, 0, 250);
    font-family: 'auto-techno';
    font-size: 31px;
    font-weight: lighter;
    margin: 0;
    top: 15%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#btnHold {
    box-shadow: 0px 0px 52px #c000cc;
    position: absolute;
    top: 77%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 32px;
    font-weight: lighter;
    width: 350px;
    height: 50px;
    background-color: #c000cc;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-family: 'Edge Racer Italic';
}

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#credits {
    font-family: 'd3-digitalism';
    font-style: italic;
    font-weight: lighter;
    font-size: 8px;
    background-color: black;
    color: white;
    position: absolute;
    top: 89%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

a {
    color: red;
}
